<form>
    <div class="modal-header">
        <span class="glyphicon glyphicon-pencil"></span> Editor
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="row">
                <div class="col-lg-4">
                    <span>Nombre: </span>
                </div>
                <div class="col-lg-8">
                    <input class="form-control" type="text" ng-model="product.name" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <span>Apellido: </span>
                </div>
                <div class="col-lg-8">
                    <input class="form-control" type="text" ng-model="product.description" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn btn-default" ng-click="handler.save(product)">
            <span class="glyphicon glyphicon-ok"></span> Aceptar
        </div>
        <div class="btn btn-default">
            <span class="glyphicon glyphicon-remove"></span> Cancelar
        </div>
    </div>
</form>