<div>
    <!--<div class="col-lg-12">
        <div class="btn btn-default">
            <span class="glyphicon glyphicon-search" ng-click="logout"></span> Log Out
        </div>
        <div class="btn btn-default" ng-click="openEditor()">
            <span class="glyphicon glyphicon-user"></span> Insertar Estudiante
        </div>
    </div>
    <div class="col-lg-12">
        <div ng-repeat="bClient in bclients">
            <span>{{bClient.FName}}</span>
            <span>{{bClient.LName}}</span>
            <div class="btn btm-default" ng-click="edit(bClient)">
                <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <div class="btn btm-default" ng-click="delete(bClient)">
                <span class="glyphicon glyphicon-trash"></span>
            </div>
        </div>
    </div>-->

    <h1>WHAT WHHAAT</h1>
</div>