body,
html,
.usip {
	font-size: 62.5%;
	height: 100%;
	font-family: 'Comic Sans MS'
}

body {
	width: 100%;
}

a,
input,
div,
span,
pre,
label,
dd {
	font-size: 1.4rem;
	font-family: 'Comic Sans MS'
}

pre {
	padding: 0;
	background: none;
	margin: 0;
	color: inherit;
	border: none;
	white-space: pre-wrap;
	word-break: break-word;
}

.cursor {
	cursor: pointer;
	padding:0;
	outline: none;
}

.login {
	background: linear-gradient(to bottom #ffd800, #0026ff);
	text-align: center;
	padding-top: 50px;
}
	.login input[type="text"],
	.login input[type="password"] {
		margin-top: 30px;
		width: 350px;
	}

	.login button[type="submit"] {
		margin-top: 30px;
		background: lightskyblue;
	}

	.login button[type="text"],
	.login button[type="password"],
	.login button[type="button"] {
		color: #000000;
	}

	.login span {
		color: #ffffff
	}