

<div layout fill class="col-lg-12 login">
	<form layout fill name="loginform" ng-submit="login()">
		<ul>
			<li class="li-login">
				<div>
					<span class="glyphicon glyphicon-book"></span>
					<h2> TECHNOLOGY-ALVARADO </h2>
					<div class="glyphicon glyphicon-user image-user"/>
				</div>
			</li>
		</ul>
		<ul>
			<li class="li-login">
				<input type="text" ng-model="credentials.user" placeholder="Nombre de Usuario" />
			</li>
			<li class="li-login">
				<input type="password" ng-model="credentials.password" placeholder="Contrasenia" />
			</li>
			<li class="li-login">
				<button class="btn btn-default" type="submit">
					<span class="glyphicon glyphicon-log-in"></span> Ingresar
				</button>
			</li>
		</ul>
	</form>
</div>